:80 {
    root * /srv
    encode zstd gzip
    templates
    file_server

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        Cache-Control "no-store, no-cache, must-revalidate"
    }
}
