*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #888;
}

#app {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
