*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #888;
}

#app {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --color-primary: #179f95;
  --color-accent: #f07814;
}
